Pillow==2.9.0
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==2015.04.28
cffi==1.1.2
cryptography==0.9.3
enum34==1.0.4
idna==2.0
ipaddress==1.0.14
ndg-httpsclient==0.4.0
pyOpenSSL==0.15.1
pyasn1==0.1.8
pycparser==2.14
pymaging==0.1
pymaging-png==0.1
qrcode==5.1
qrtools==1.2
requests==2.7.0
six==1.9.0
tornado==4.2.1
wsgiref==0.1.2
zbar==0.10
